@import "~bulma/sass/utilities/initial-variables"

// Config vars
// Kaldi logo brand color: #FD461E
$kaldi-red: #D64000
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert
$body-color: #333
$black: #2b2523
$info: #7c99b4
$warning: #8eb8e5
$box-shadow: 0 0.5em 1em -0.125em rgba(219, 182, 199, 0.7), 0 0px 0 1px rgba(255, 255, 255, 0)
$box-background-color: $white-bis

.navbar .navbar-menu
  box-shadow:none !important


.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

.full-width-image
    width: 100vw
    height: calc(100vw/2.3513)
    background-size: contain
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

.full-width-image .below-title
    margin-top: 2rem

.below-full-width-image
    height: calc(100vh-100vw/2.35)
    width: 100vw

.btn
    display: inline-block
    padding: 12px 16px 10px
    font-size: 18px
    font-size: 1rem
    line-height: 1.25
    background-color: #fff
    border-radius: .25rem
    text-decoration: none
    font-weight: 700
    color: #CC3700
    text-align: center
    -webkit-box-shadow: inset 0 0 0 2px #CC3700
    box-shadow: inset 0 0 0 2px #f40
    -webkit-transition: all .15s ease
    transition: all .15s ease

.margin-top-0
  margin-top: 0 !important

.navbar-item .icon
  color: $primary
// Override for use of svg's from https://simpleicons.org/
.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor
.navbar-brand .navbar-item.logo
  padding: 0 1rem
footer.footer
  padding: 1rem 0rem 0rem
  background-color: $black

//Menu overrides
$menu-item-color: $white-ter 
$menu-item-hover-color: $black !important
$menu-item-hover-background-color: $black
$menu-item-active-color: $kaldi-red-invert
$menu-item-active-background-color:	$kaldi-red-invert
$menu-list-border-left: 1px solid $kaldi-red-invert
$menu-label-color: $white-ter

//Menu overrides
$navbar-item-color: $white-ter 
$navbar-item-hover-color: $black !important

.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left
.social
  padding: 2em
.social a
    padding: .5em .5em .3em .5em
    border-radius: 1em
    background-color: $white-ter
    margin: .5em
    width: 1em
    height: 1em
    vertical-align: middle
    display: inline

// blog roll
.blog-list-item.is-featured
  // background-color: #d6400033;
.blog-list-item header
  display: block;
  margin-bottom: 1em;
.blog-list-item .featured-thumbnail
  width: 100%;
  margin: 0 1.5em 0 0;
.blog-list-item.box
  box-shadow: none !important

//modal
.modal-card
  height: 430px
  width: 774px !important
.modal-card iframe
  height: 100%
  margin-top: -50px

//Programme
.section.jour-programme:nth-child(odd)
  background-color: $white-ter

.section.jour-programme:nth-child(even) h2
    color: $white-ter

.programme.content
  background-color: #363636

.caption-movie
  color: darkgrey

//Infos Pratique
.map-container
  min-height: 500px
  iframe
    min-height: 500px


@import "~bulma"


// responsiveness
+tablet-only
  .blog-list-item .featured-thumbnail
    flex-basis: 50%;

+mobile
  .blog-list-item header
    display: block
  .blog-list-item .featured-thumbnail
    text-align: center;
    width: 100%;
    margin: 0 0 1em;
  .full-width-image
    height: 100vh
    background-size: cover
    background-position: 75%
    display: flex
    justify-content: center
    align-items: center
  .modal-card
    width: 360px !important
    height: 580px
